<div class="card-deck">
<div class="card rounded-image" style="width: 18rem;">
 <img class="img-fluid rounded image"src="{{food.fullImagePath}}"
alt="{{food.name}}">
  <div class="card-body img">
    <h3 class="card-title">{{food.name}}</h3>
    <p class="card-text">Food: {{food.name}} ID: {{food.id}} How long does this last in the fridge? {{food.expirationDays}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{food.expirationDays}} days</li>
    <li class="list-group-item">item ID: {{food.id}}</li>
    <li class="list-group-item">comments</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


<div class="card rounded-image" style="width: 18rem;">
 <img class="img-fluid rounded image"src="{{food.fullImagePath}}"
alt="{{food.name}}">
  <div class="card-body img">
    <h3 class="card-title">{{food.name}}</h3>
    <p class="card-text">Food: {{food.name}} ID: {{food.id}} How long does this last in the fridge? {{food.expirationDays}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{food.expirationDays}} days</li>
    <li class="list-group-item">item ID: {{food.id}}</li>
    <li class="list-group-item">comments</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
