<img class="img-fluid card-img-top rounded-image"src="{{item.fullImagePath}}"
alt="{{item.item}}">
<h3 class="card-title" style="padding-top: 5px">{{item.item}}</h3>
<div class="card-body" style="padding: 0px;"></div>

<ul class="list-group list-group-flush">
	<li class="list-group-item">
		How long does this last in the fridge?
		<br>
		{{item.expirationDays}} days
	</li>
    <li class="list-group-item">comments</li>
	<li class="list-group-item">votes: {{item.submissionCount}}</li>
</ul>
<div class="card-footer">
    <a href="#" class="card-link">Vote </a>
	<button (click) = "item.submissionCount = item.submissionCount + 1">Vote!</button>
</div>
